<a href="https://colab.research.google.com/github/SidharthBabu-b/Z-Test/blob/main/Z-test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [ ]:
df=pd.read_csv("/content/covid_19_clean_complete.csv")

In [ ]:

df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [ ]:
df[['Lat','Long']].describe()

                Lat          Long
count  49068.000000  49068.000000
mean      21.433730     23.528236
std       24.950320     70.442740
min      -51.796300   -135.000000
25%        7.873054    -15.310100
50%       23.634500     21.745300
75%       41.204380     80.771797
max       71.706900    178.065000

In [ ]:
ztest ,pvalue = stests.ztest(df['Lat'], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.0
-1105.919510409555

In [ ]:
if pvalue<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted

In [ ]:
ztest,pval1=stests.ztest(df['Lat'],df['Long'],value=100)
print(float(pval1))
print(ztest)

0.0
-302.6228396852952

In [ ]:

if pval1<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted